.options {
  position: absolute;
  top: 100%; /* abre logo abaixo do botão */
  left: 0;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 10px rgba(20, 18, 18, 0.2);
  z-index: 100;
}

.relative {
  position: relative;
  z-idex: 50;
  justify-content: center;
  display: flex;
  width: 100%;
  align-items: center;
  font-size: 30px;
  text-size: 30px;

  button {
    width: 100%;
  }
}
